
body{
    background-image: url("https://images5.alphacoders.com/133/1331710.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    font-size: 60%;
}