
body{
    background-image: url("https://wallpapers.com/images/hd/harry-potter-logo-h59bpm0q236q8f43.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    font-size: 60%;
}