
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST27zYnkUfR922oWrOzzgPqWz9bxqgkJx1lQ&usqp=CAU");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    font-size: 60%;
}