
body{
    background-image: url("https://wallpapers.com/images/featured/harry-potter-gi5aixvd4d26cpij.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    font-size: 60%;
}