body{
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    text-align: center;
    color:red;
    font-size: 60%;
}